beautifulsoup4>=4.11.1
bottle>=0.12.23
bs4>=0.0.1
certifi>=2022.9.24
charset-normalizer>=2.1.1
chatgptpy>=1.0.0
colorama>=0.4.6
cssselect2>=0.7.0
idna>=3.4
lxml>=4.9.1
Pillow>=9.3.0
reportlab>=3.6.12
requests>=2.28.1
soupsieve>=2.3.2.post1
svglib>=1.4.1
tinycss2>=1.2.1
tls-client>=0.1.5
urllib3>=1.26.13
webencodings>=0.5.1
